

#footer
{
    width: "100%";
    padding: 20px;
    background-color: lightblue;
}

#homeDoctors
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#doclogin 
{
    width: 500px;
    margin: auto;
}

#dotordashboard
{
    display: flex;
   
}

#docleftmenu
{
    width: 15%;
    background-color: black;
    color: white;
}